
/*navbar*/


.social {
    position: absolute;  
    padding: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5%;
    border: #333 thin;
    
}

.social i {
  padding: 5px;
}

.social a:nth-child(2) .fa-github {
  color: #000;
}

.social a:nth-child(3) .fa-youtube {
  color: #ff0000;
}

.social a:nth-child(2) i:hover {
  color: #333;
}

.social a:nth-child(3) i:hover {
  color: #b31900;
}

.navbar {
  margin-bottom: 0;
}


.navbar-nav {
    margin-left: auto;
    color: azure;
  }

  .navbar-nav .nav-link {
    color: azure !important;
  }
  

.navbar-brand {
    font-size: 2.5em;
}





#logo {
    font-family: 'Kalam';
    font-size: 48px;
    color: azure;
    
}

.navbar-light {
    background-color: rgba(0, 24, 24, .4) !important;
  }

.navbar-light .navbar-toggler{
  background-color: rgba(0,127,102);
  border-color: azure;
  color: azure;
}

#banner-text {
  margin: 7vmin 12vmin;
  font-size: 48px;
  font-family: 'Source Code Pro', monospace;

}

#banner-text-caption {
  margin: 7vmin 12vmin;
  font-size: 24px;
  font-family: 'Source Code Pro', monospace;
}

  
/*content*/


body {
    background-color: #007f66;
    color: azure;
    
}

.container .content {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    height: 100%;
    
  }




/*portfolio content*/
.card {
  margin-right: 5px;
  margin-bottom: 20px;
}

.card:last-child {
  margin-right: 0;
}


.card-group {
  padding: 20px;
  margin: 20px;
}

.card-body {
    
    position: relative;
    min-height: 200px;
    overflow: auto;
    background-color: #cfecf7;
    color: #000;
}

.card-img-top {
  max-height: 200px; 
  object-fit: contain; 
  margin: 10px;
  max-width: 100%;
}

.btn {
  display: inline-block;
  color: azure;
  background: #001818;
  font-size: 18px;
  margin-top: 1em;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  
}

.btn:hover {
  color: #000;
  background-color: #fada5e;
}


@media (max-width: 768px) {

  .card-group {
    flex-direction: column;
    
  }

  .card:last-child {
    margin-right: 10px;
    
  }
}
@media (max-width: 768px) {
  

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

}
/*projects*/



  

/*#map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 375px;
}

*/

/*about*/

.education-list {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.education-list li {
  margin-bottom: 10px; /* adds margin below each list item */
  text-align: left; /* aligns the text to the left */
  padding-left: 20px; /* adds left padding to the list items */
}


/*icons*/

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #2522ca;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;

}

.classes img:hover{
  opacity: 0.9;
}

/*flex-columns*/

.flex-columns .flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.flex-columns .column-1
.flex-columns .column-2 {
  height: 100%;
  
  
}

.flex-columns .column-1 {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  margin: auto;
  height: 100%;
  width: 100%;
  
  
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px;
}
/*section header*/

.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;

}

.section-padding {
  padding: 20px 20px 40px;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;

}

.flex-items > div {
  padding: 20px;
}

#about p, #about h3 {
  color: #000;
}

#contact-info .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5em;
    
  }
  
  #contact-info .box {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #contact-info .box i {
    margin-bottom: 10px;
  }

  .box {
    background: #001818;
    color: azure;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    #contact-info .box {
      width: 100%;
    }
  }

  #lets-talk .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #lets-talk .container .box {
    flex-basis: 50%;
    height: 50vh;
    background-color: #007f66;
    margin-top: 0.5em;
    color: azure;
    font-size: 110px;
    font-family: 'Kalam';
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lets-talk .container #palm-image {
    flex-basis: 50%;
    height: 50vh;
    margin-top: 0.5em;
  }
  
  #lets-talk .container #palm-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    #lets-talk .container {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  /*footer*/

#my-footer {
  background-color: #001818 !important;
  color: azure;
  height: 125px;
  display: flex;
  align-items: center;
}
  
  
  
  
table td {
    padding-bottom: 5px;
    background-color: #b9714f;
    font-family: 'Kalam';
    color: azure;
   
}

td {
    padding: 10px;
    vertical-align: text-top;

  }
   
  

