
/*navbar*/


.social {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: azure;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5%;
    border: #333 thin;
    
}

.social i {
  padding: 5px;
}

.social a:nth-child(2) .fa-github {
  color: #000;
}

.social a:nth-child(3) .fa-youtube {
  color: #ff0000;
}

.social a:nth-child(2) i:hover {
  color: #333;
}

.social a:nth-child(3) i:hover {
  color: #b31900;
}



.navbar-nav {
    margin-left: auto;
    color: azure;
  }

  .navbar-nav .nav-link {
    color: azure !important;
  }
  

.navbar-brand {
    font-size: 2.5em;
}





#logo {
    font-family: 'Kalam';
    font-size: 48px;
    color: azure;
    
}

.navbar-light {
    background-color: rgba(0, 24, 24, .4) !important;
  }

.navbar-light .navbar-toggler{
  background-color: rgba(0,127,102);
  border-color: azure;
  color: azure;
}

#banner-text {
  margin: 7vmin 12vmin;
  font-size: 48px;
  font-family: 'Source Code Pro', monospace;

}
  
/*content*/

body {
    background-color: #007f66;
    color: azure;
}

.container .content {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }

/*footer*/

#my-footer {
    background-color: #001818 !important;
    color: azure;
}

/*portfolio content*/
.card {
  margin-right: 10px;
  margin-bottom: 20px;
}

.card:last-child {
  margin-right: 0;
}


.card-group {
  padding: 20px;
  margin: 20px;
}

.card-body {
    
    position: relative;
    min-height: 200px;
    overflow: auto;
    background-color: #cfecf7;
    color: #000;
}

.card-img-top {
  height: 200px; 
  object-fit: contain; 
  margin: 10px;
}





@media (max-width: 768px) {
  .card-group {
    flex-direction: column;
    
  }

  .card:last-child {
    margin-right: 10px;
    
  }
}





  

/*#map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 375px;
}

*/


#contact-info .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #contact-info .box {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #contact-info .box i {
    margin-bottom: 10px;
  }

  .box {
    background: #001818;
    color: azure;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    #contact-info .box {
      width: 100%;
    }
  }

  #lets-talk .container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #007f66;
    margin-top: 1em;
    color: azure;
    font-size: 110px;
    font-family: 'Kalam';
    
  }
  
  
  
  
table td {
    padding-bottom: 5px;
    background-color: #b9714f;
    font-family: 'Kalam';
    color: azure;
   
}

td {
    padding: 10px;
    vertical-align: text-top;

  }
   
  

